streamlit
pandas
numpy==1.26.4
scipy
scikit-learn
scikit-learn-extra
google-generativeai
spacy==3.7.5
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl
nltk
matplotlib
seaborn
plotly
joblib
openpyxl
ydata-profiling
setuptools==69.5.1